.modalOverlayOuter {
  box-shadow: var(--dialog-box-shadow);
  padding: 0;
  border-radius: var(--dialog-border-radius);
  border: var(--border-width) solid var(--dialog-border-color);

  &::backdrop {
    background: var(--newtab-overlay-color);
  }
}
