.report-content-form {
  width: 500px;
  height: 270px;
  box-shadow: var(--dialog-box-shadow);
  border-radius: var(--dialog-border-radius);
  border: var(--border-width) solid var(--dialog-border-color);
  background-color: var(--dialog-background-color);
  padding: var(--dialog-padding);

  form {
    height: 100%;
    display: flex;
    flex-direction: column;

    moz-radio-group {
      height: 100%;
    }
  }

  &::backdrop {
    background: $black-25;
  }
}
